.wrapperClassName {
    width:35vw;
    
  }
.toolbarClassName{
    font-size: 5px;
}

.toolbarClassName img{
    height:10px;
    width:10px;
}

.editorClassName{
    
}

.toolbarClassName1{
    visibility: hidden;

}